<!DOCTYPE html>
<html>
<head>
    <title><%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= user %></h1>
<p>Welcome to <%= user %>，你是第<%= num%>个用户</p>
</body>
</html>