		
		<div id="home">
			<header>
				<span id="addr">北京市政府 11</span>
				<div id="search">
					<span>
						<img src="./img/home/home1.png"/>
						<p>搜索</p>
					</span>
				</div>
			</header>
			
			<main>
				<div id="banner" class="container swiper-container">
					<div class="swiper-wrapper">
						<!--<a href="###" class="swiper-slide">
							<img src="./img/home/home2.jpg"/>
						</a>
						<a href="###" class="swiper-slide">
							<img src="./img/home/home3.jpg"/>
						</a>
						<a href="###" class="swiper-slide">
							<img src="./img/home/home4.jpg"/>
						</a>
						<a href="###" class="swiper-slide">
							<img src="./img/home/home5.jpg"/>
						</a>
						<a href="###" class="swiper-slide">
							<img src="./img/home/home6.jpg"/>
						</a>-->
					</div>
					<div id="banner_pagination" class="swiper-pagination">
						
					</div>
				</div>
				
				<div id="nav" class="container">
					<div class="content_container">
						<!--<a href="###">
							<img src="./img/home/home7.png" alt="" />
							<p>疯狂秒杀</p>
						</a>
						<a href="###">
							<img src="./img/home/home8.png" alt="" />
							<p>鲜货直供</p>
						</a>
						<a href="###">
							<img src="./img/home/home9.png" alt="" />
							<p>大闸蟹</p>
						</a>
						<a href="###">
							<img src="./img/home/home10.png" alt="" />
							<p>水果</p>
						</a>-->
					</div>
				</div>
			
				<div id="introduce" class="container">
					<a href="###">
						<img src="./img/home/home11.jpg"/>
					</a>
					<a href="###">
						<img src="./img/home/home12.jpg"/>
					</a>
					<a href="###">
						<img src="./img/home/home13.jpg"/>
					</a>
				</div>
		
				<div id="convience" class="container">
					<div class="content_container">
						<img src="./img/home/home14.png"/>
						<div id="convience_content">
							<img src="./img/home/home15.jpg"/>
							<img src="./img/home/home16.jpg"/>
						</div>
						
						<div id="convience_list">
							<a href="###">
								<img src="./img/home/home17.png"/>
								<p>优选水果</p>
							</a>
							<a href="###">
								<img src="./img/home/home18.png"/>
								<p>牛奶面包</p>
							</a>
							<a href="###">
								<img src="./img/home/home19.png"/>
								<p>饮料酒水</p>
							</a>
							<a href="###">
								<img src="./img/home/home20.png"/>
								<p>更多</p>
							</a>
						</div>
					</div>
				
					<div id="convience_example">
						<a href="###">
							<img src="./img/home/home21.jpg"/>
						</a>
						<a href="###">
							<img src="./img/home/home22.jpg"/>
						</a>
						<a href="###">
							<img src="./img/home/home23.jpg"/>
						</a>
						<a href="###">
							<img src="./img/home/home24.png"/>
						</a>
					</div>
				</div>
			
			
				<div class="container main_item " id="youxuanshuiguo">
					<div class="content_container">
						<h3>
							<p>
								<span class="item_logo"></span>
								<span class="item_title">优选水果</span>
							</p>
							<a href="###">更多 ></a>
						</h3>
						<img class="item_banner" src="./img/home/home26.jpg"/>
						
						<div class="item_list_container">
							<a href="###" class="item_list">
								<img src="./img/home/home27.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<p class="special_container">
									<span class="best">精选</span>
								</p>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home28.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home29.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
						</div>
					</div>
				</div>
			
			
				<div class="container main_item " id="niunaimianbao">
					<div class="content_container">
						<h3>
							<p>
								<span class="item_logo"></span>
								<span class="item_title">牛奶面包</span>
							</p>
							<a href="###">更多 ></a>
						</h3>
						<img class="item_banner" src="./img/home/home31.jpg"/>
						
						<div class="item_list_container">
							<a href="###" class="item_list">
								<img src="./img/home/home32.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<p class="special_container">
									<span class="best">精选</span>
									<span class="maizeng">买一赠一</span>
								</p>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home33.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
									<span class="maizeng">买一赠一</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home34.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
									<span class="maizeng">买一赠一</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
						</div>
					</div>
				</div>
			
				<div class="container main_item " id="luweishushi">
					<div class="content_container">
						<h3>
							<p>
								<span class="item_logo"></span>
								<span class="item_title">卤味熟食</span>
							</p>
							<a href="###">更多 ></a>
						</h3>
						<img class="item_banner" src="./img/home/home35.jpg"/>
						
						<div class="item_list_container">
							<a href="###" class="item_list">
								<img src="./img/home/home36.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<p class="special_container">
									<span class="best">精选</span>
								</p>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home37.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home38.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
						</div>
					</div>
				</div>
			
				<div class="container main_item " id="yinliaojiushui">
					<div class="content_container">
						<h3>
							<p>
								<span class="item_logo"></span>
								<span class="item_title">饮料酒水</span>
							</p>
							<a href="###">更多 ></a>
						</h3>
						<img class="item_banner" src="./img/home/home39.jpg"/>
						
						<div class="item_list_container">
							<a href="###" class="item_list">
								<img src="./img/home/home40.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<p class="special_container">
									<span class="best">精选</span>
								</p>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home41.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home42.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
						</div>
					</div>
				</div>
			
				<div class="container main_item " id="lingshidapa">
					<div class="content_container">
						<h3>
							<p>
								<span class="item_logo"></span>
								<span class="item_title">零食大趴</span>
							</p>
							<a href="###">更多 ></a>
						</h3>
						<img class="item_banner" src="./img/home/home43.jpg"/>
						
						<div class="item_list_container">
							<a href="###" class="item_list">
								<img src="./img/home/home44.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<p class="special_container">
									<span class="best">精选</span>
								</p>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home45.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home46.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
						</div>
					</div>
				</div>
			
				<div class="container main_item " id="fangbiansushi">
					<div class="content_container">
						<h3>
							<p>
								<span class="item_logo"></span>
								<span class="item_title">方便速食</span>
							</p>
							<a href="###">更多 ></a>
						</h3>
						<img class="item_banner" src="./img/home/home47.jpg"/>
						
						<div class="item_list_container">
							<a href="###" class="item_list">
								<img src="./img/home/home48.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<p class="special_container">
									<span class="best">精选</span>
								</p>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home49.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
							<a href="###" class="item_list">
								<img src="./img/home/home50.jpg" alt="" />
								<p class="title">爱鲜蜂-红宝石12345667</p>
								<span class="best">精选</span>
								<p class="weight">550-660g/盒</p>
								<p class="price_container">
									<span class="now_price">￥15.8</span>
									<span class="original_price">￥25</span>
								</p>
								<span class="add">+</span>
							</a>
						</div>
					</div>
				</div>
			
			
			
				<div class="container" id="hot">
					<div id="hot_title">
						<span>先锋热卖</span>
					</div>
					<div id="hot_content" class="content_container">
						<!--<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>
						<a href="###" class="hot_content_item">
							<img src="./img/home/home51.jpg" alt="" />
							<p class="title">音苏提有机酸奶酪</p>
							<p>
								<span class="best">精选</span>
								<span class="maizeng">买一赠一</span>
							</p>
							<p class="weight">140g</p>
							<p class="price_container">
								<span class="now_price">￥7.9</span>
								<span class="original_price">￥12</span>
							</p>
							<span class="add">+</span>
						</a>-->
					</div>
					<a href="###" id="hot_last">点击查看全部商品></a>
				</div>
			</main>
			
		</div>
	
<!-- 轮播图 百度模板 -->
<script type="text/template" id="slideTpl">
	<% for (var tempSlide of slide) { %>
		<a href="###" class="swiper-slide">
			<img src="<%= tempSlide.activity.img %>"/>
		</a>
	<% } %>
</script>

<!-- 菜单项 百度模板 -->
<script type="text/template" id="menuTpl">
	<% for (var tempMenu of menu) { %>
		<a href="###">
			<img src="<%= tempMenu.activity.img  %>" alt="" />
			<p><%=  tempMenu.activity.name %></p>
		</a>
	<% } %>
</script>